<hr>
<h2 align="center">About This Message Board</h2>
<hr>

<div class="well">
  <p>
    This website was design with you <strong>(Yes! You...)</strong> in mind.  <br> It is a one stop message board where all of your inquiries will be entertained in a timely manner. <br> Feel free to either <strong>post a question</strong> and/or <strong>provide an answer</strong> to an existing question.
  </p>
</div>

<strong><p align="center">Here is what people are saying about this website:</p></strong>

<div class="row">
  <div class="col-md-6">
    <blockquote class="bg-info">
      <p>"This website has all the answers to my inquiries!"</p>
      <footer>Jean P, student</footer>
    </blockquote>
  </div>

  <div class="col-md-6">
    <blockquote class="bg-info">
      <p>"This site Rocks!"</p>
      <footer>Robert T, Farmer</footer>
    </blockquote>
  </div>
</div>
<hr>

  <div class="row">
    <div class="col-md-6">
      <blockquote class="bg-info">
        <p>"This website is better than stack overflow!"</p>
        <footer>Mary G, programmer</footer>
      </blockquote>
    </div>

    <div class="col-md-6">
      <blockquote class="bg-info">
        <p>"This site is really fantastic!!"</p>
        <footer>Mary G, programmer</footer>
      </blockquote>
    </div>
  </div>
