<hr>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="pannel-title" align="center">Questions/Concerns? Simply want to say Hi?</h3>
  </div>
  <div class="panel-body">
    <p>Even though we spend a great deal of time monitoring this message board, It is highly likely certain answers might not be germane to the topic at hand. If you have noticed any unwarranted/unrelated answers or If you have any questions or concerns regarding the contents of the website, please,</p><hr>
    <p class="bg-success">Do not hesitate to contact us via e-mail, by phone or a good old fashion hand written letter.</p><hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Phone:</h3>
    <a href="#"><p>(503) 555-1212</p></a>
    <h3>Email:</h3>
    <a href="#"><p>onestopmessageboard@gmail.com</p></a>
  </div>
  <div class="col-md-6">
    <h3>Address:</h3>
    <p>
      One Stop Message Board Headquarters<br>
      1212 Test Address Avenue<br>
      TestyMcTestington, OR 97233
    </p>
  </div>
</div>
