<h3 align="center">Questions</h3>

<ol>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ol>

{{new-question addNewQuestion="addNewQuestion"}}
