<h3 align="center">Question:</h3><br>
<h2>{{model.query}}? submitted by: {{model.name}}</h2><br>

{{update-question question=model update="update"}} <br>

{{question-detail question=model destroyQuestion="destroyQuestion"}}
